* {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;

  box-sizing: border-box;
}
body {
  font-family: Source Sans Pro, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
}
@media (max-width: 992px) {
  #home h1 {
    font-size: 26pt;
  }
}
@media (max-width: 768px) {
  #home h1 {
    font-size: 20pt;
    margin-top: -50px;
  }
}

body {
  font-size: 0.93rem;
  font-weight: 400;
  line-height: 1.5;
}

.nav-link {
  color: black;
}
.navbar {
  line-height: 1.5;
  background: #fff;
}

.nav-item {
  font-style: 15px;
  font-weight: 600;
}
.border-dark {
  border-color: black;
}
.navbar {
  background-color: transparent;
}

#home {
  background: rgb(248, 169, 47);
  background: linear-gradient(
    106deg,
    rgba(248, 169, 47, 1) 0%,
    rgba(255, 69, 0, 1) 88%
  );
  margin-top: -6rem;
}
#home h1 {
  font-weight: 600;
  padding-top: 10rem;
  font-feature-settings: normal;
}
#home img {
}
@media (min-width: 992px) {
  .header {
    padding-left: 300px;
  }
}
@media (min-width: 768px) {
  .header {
    padding-left: 300px;
  }
}
@media (max-width: 400px) {
  .gambar {
    padding-top: 4rem;
    width: 150px;
  }
}
@media (min-width: 720px) {
  .gambar {
    padding-top: 10rem;
    width: 300px;
  }
}

.mock {
  width: 65%;
  position: relative;
}
.feature {
  background-color: ##f1f1f1;
}

.feature {
  padding-top: 30px;
  color: black;
}

.download {
  border-top: black 2px;
  background: rgb(248, 169, 47);
  background: linear-gradient(
    106deg,
    rgba(248, 169, 47, 1) 0%,
    rgba(255, 69, 0, 1) 88%
  );
  padding-top: 30px;
  padding-bottom: 50px;
}

.google-button img {
  width: 75%;
}

.about-us {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fc7f1a;
}
.about-us h5 {
  margin-bottom: 30px;
}
.about-us p {
  padding-left: 10%;
  padding-right: 10%;
}
.about-us img {
  width: 150px;
  margin-bottom: 30px;
}
.partner {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fca41a;
}
.partner h5 {
  margin-bottom: 30px;
}
.partner img {
  margin-right: 30px;
  width: 30%;
}
.appscreen {
  padding-top: 30px;
  padding-bottom: 50px;
}
.appscreen h3 {
  margin-bottom: 50px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.1;
}
.appscreen img {
  max-width: 100%;
  margin-right: 40px;
}
@media (max-width: 400px) {
  .appscreen img {
    margin-right: 15px;
    width: 24%;
    margin-bottom: 20px;
  }
}

.contact {
  color: white;
  background-color: #fc5f1a;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  margin-bottom: 20px;
}
button {
  right: 0;
  width: 30%;
}
.button {
  font-weight: 600;
}
.secondary-color {
  background-color: #fca41a;
  color: #ffff;
}
.footer {
  color: white;
  background-color: #fc5f1a;
}
.footer p {
  font-size: 11pt;
  margin-left: 5px;
}
.socmed {
  right: 30px;
}
.socmed a {
  margin-right: 10px;
  font-size: 25pt;
}
