.customGrid {
  &-container {
    font-family: 'Lobster', cursive;
  }

  &-item {
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
    //width: 25rem;

    &:hover {
      box-shadow: 2px 4px 10px #999;
      transform: translateY(-1px);
    }
  }
}

@media(max-width: 767px){
  .customGrid-item {
    //width: 40rem;
  }
}

@media(max-width: 674px){
  .customGrid-item {
    //width: 30rem;
  }
}

@media(min-width: 992px){
  .customGrid-item {
    //width: 15rem;
  }
}

@media(min-width: 1200px){
  .customGrid-item {
    //width: 18rem;
  }
}
