.customForm {
  &-business-image{
    width: 80px;
    height: 80px;
    border: 2px solid transparent;
    overflow: hidden;
    border-radius: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
