.customLogin {
  color: black;
  background: linear-gradient(to right bottom, rgba(233, 106, 54, 1), rgba(234, 134, 63, 1), rgba(235, 161, 72, 1));
  height: 100vh;
  &-form {
  background: linear-gradient(to right bottom, rgba(233, 106, 54, 0.6), rgba(234, 134, 63, 0.6), rgba(235, 161, 72, 0.6));
    border: 2px solid transparent;
  }
}

