@import "./_variables.scss";
.customSidebar {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url('../images/46-466652_world-travel-wallpaper-hd-beautiful-wallpaper-the-world.jpg');
  background-position: center;
  background-repeat: no-repeat;
  backround-size: cover;
  box-shadow: 5px 7px 27px #999;

  &-bottomBorder {
    border-bottom: 1px groove #eee;
  }

  &-profile {
    cursor: pointer;
  }

  &-nav {
    color: white;
    a {
      color: white;
      padding: 10px;
      border-radius: 10px;
      transition: .4s;
      &:hover {
        color: white;
        background: orange;
        text-decoration: none;
      }
    }
    &-sub {
      cursor: pointer;
      color: white;
      padding: 10px;
      border-radius: 10px;
      transition: .4s;
      &:hover {
        color: white;
        background: orange;
        text-decoration: none;
      }

      &-link {
        a {
          padding-left: 2rem;
        }
      }
    }
  }
}

.activeLinkNav {
    background: orange;
  }

.customTopbar {
  transition: .4s;
}

@media(max-width: 767px){
  .customSidebar {
    position: static !important;
    height: auto;
  }

  .customTopbar {
    position: static !important;
  }
}

.ck-editor__editable_inline {
  min-height: 400px;
}
