.customOverlay {
  position: fixed;
  color: black;
  background: rgba(0,0,0,0.5);
  height: 100vh;
  width: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

//body {margin: 0; height: 100%; overflow: hidden}
