.profile-picture-container {
  overflow: hidden;
  border-radius: 100%;
  width: 4vw;
  height: 4vw;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.profile-picture-container2 {
  overflow: hidden;
  border-radius: 100%;
  width: 2vw;
  height: 2vw;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.thumbnail-picture {
  overflow: hidden;
  border-radius: 10px;
  width: 98%;
  height: 20%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.customBadge {
  border-radius: 20px;
  background: green;
  color: white;
  width: 100px;
  height: 20px;
  font-size: 14px;
}
